.fp-container {
  display: flex;
  flex-direction: row;
  padding: 55px 40px;
  overflow: hidden;
  background: linear-gradient(270deg, #ffffff 35%, #566b94 93%);
}

.fp-inner-container {
  border: 1px solid none;
  display: flex;
}
.fp-left-header {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.fp-left-content {
  width: 810px;
  height: auto;
}

.fp-main-head {
  display: flex;
  gap: 14px;
}
.fp-logo-container {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #176789;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fp-logo-container img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.fp-main-header h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
  font-style: Bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.fp-main-header p {
  width: 197px;
  height: 16px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  color: #fff;
}

.fp-middle-content {
  display: grid;
  gap: 35px;
}
.fp-main-content h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 37px;
  line-height: 40px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  margin-top: 25px;
}

.fp-main-content p {
  width: auto;
  height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 12px;
}

.fp-image-content {
  display: grid;
  justify-content: center;
}
.fp-bottom-card-container {
  margin-left: 60px;
}
.fp-vector-stock {
  width: auto;
  height: 480px;
  padding-left: 110px;
  margin: 50px 300px 20px 50px;
}

.fp-bottom-card {
  border: 1px solid #ffffffcc;
  margin-left: 55px;
  width: 750px;
  height: 74px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  background-color: #ffffffbf;
  display: flex;
  padding-left: 17px;
  gap: 10px;
  align-items: center;
}

.fp-white-shield {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
}

.fp-bottom-content strong {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 13px;
  line-height: 17.88px;
  vertical-align: middle;
  color: #132a56;
}

.fp-bottom-content p {
  width: 604px;
  height: auto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 11.5px;
  line-height: 17.25px;
  vertical-align: middle;
  color: #132a56;
}

.fp-bottom-content p span {
  font-weight: 700;
  font-style: Regular;
  font-size: 11.5px;
  line-height: 17.25px;
  color: #777587;
}

.fp-right-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.fp-icon {
  width: 56px;
  height: 56px;
}

.fp-right-header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.32px;
  color: #132a56;
}

.fp-right-header p {
  width: 600px;
  height: 48px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  color: #333334;
}

.fp-radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  height: 90px;
  box-sizing: border-box;
  border-radius: 12px;
  opacity: 1;
  border: 1.6px solid #64646563;
  background: #ffffff01;
  box-shadow: 0 4px 12px -2px #4f46e50d;
  background-color: #ffffff;
}

.fp-inner-conatiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 20px;
  gap: 16px;
}

.fp-inner-conatiner img {
  width: 48px;
  height: 48px;
}

.ims-fp-title-container {
  display: flex;
  flex-direction: column;
}

.ims-fp-radio-btn-conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.fp-radio-btn {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  border: 2px solid #176789;
  border-radius: 50%;
  background: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.fp-radio-btn::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: #fff;
  transform: scale(0);
}

.fp-radio-btn:checked {
  background: #176789;
}

.fp-radio-btn:checked::before {
  transform: scale(1);
}

.ims-active .fp-radio-container {
  border-color: #176789;
  background-color: #e7f0fe;
}

.fp-input-title {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #111112;
}

.fp-input-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #777587;
}

.ims-fp-right-arrow {
  width: 12px;
  height: 12px;
}

.fp-send-verification {
  width: 600px;
  height: 50px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #132a56;
  box-shadow: 0 4px 4px 0 #4d44e30d;
  cursor: pointer;
  font-family: Open Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  color: #ffff;
  margin-bottom: 32px;
}

.ims-verification-method-title {
  margin-top: 32px;
  margin-bottom: 16px;
  width: 600px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #111112;
}

.ims-fp-outer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.ims-left-arrow-icon {
  width: 5.55px;
  height: 9px;
  margin-right: 4px;
}

.ims-fp-back-to-login-wrapper span {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  vertical-align: middle;
  color: #132a56;
}
.ims-back-to-login {
  text-decoration: none;
}

.ims-fp-back-to-login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ims-fp-back-to-login-wrapper,
.ims-fp-back-to-login-wrapper a,
.ims-fp-back-to-login-wrapper span {
  text-decoration: none;
}

.ims-fp-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background-color: #ffffff;
}
