.Ims-Resetsucess-container {
  display: flex;
  flex-direction: row;
  padding: 55px 40px;
  overflow: hidden;
  background: linear-gradient(270deg, #ffffff 35%, #566b94 93%);
}

.Ims-Resetsucess-innercontainer {
  width: 978px;
  height: auto;
  display: flex;
  gap: 5px;
}

/* Left Content */

.Ims-Resetsucess-leftcontent {
  width: 810px;
  height: auto;
}

.ims-prs-header {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.ims-prs-logo-container img {
  width: 44px;
  height: 44px;
}

.ims-prs-main-header h3 {
  color: #ffffff;
  font-weight: 590;
  font-style: Bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.ims-prs-main-header p {
  width: auto;
  height: 16px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  vertical-align: middle;
  color: #ffffff;
}

.ims-prs-middle-content {
  display: grid;
  gap: 35px;
}

.ims-prs-main-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ims-prs-main-content h2 {
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 37px;
  line-height: 40px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  margin-top: 25px;
}

.ims-prs-main-content p {
  width: 758px;
  height: 48px;
  font-family: Open Sans;
  font-weight: 500;
  font-style: SemiBold;
  font-size: 14.5px;
  line-height: 24px;
  vertical-align: middle;
  color: white;
}

.ims-prs-bottom-card-container {
  margin-left: 60px;
}

.ims-prs-illustration {
  width: auto;
  height: 580px;
  margin: 50px 0 20px 50px;
}

.ims-prs-bottom-card {
  border: 1px solid #ffffffcc;
  width: 600px;
  height: 74px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  background-color: #ffffffbf;
  display: flex;
  padding-left: 17px;
  gap: 10px;
  align-items: center;
}

.ims-prs-white-shield {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
}

.ims-prs-bottom-content strong {
  width: auto;
  height: 38px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 13.5px;
  color: #132a56;
}

.ims-prs-header p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.ims-prs-bottom-content p {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  color: #132a56;
}

.ims-prs-bottom-content p span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
  color: #777587;
}

.ims-prs-dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 9999px;
  background-color: #ffffff;
}

/* Right Content */

.Ims-Resetsuccess-right {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 210px;
  padding-left: 50px;
}

.Ims-Resetsuccess-form-wrapper {
  width: 100%;
  max-width: 600px;
}

.Ims-Resetsuccess-Rightmark {
  width: 80px;
  height: 80px;
}

.Ims-Resetsuccess-securitystatus {
  border: 1px solid #ecfdf5;
  width: 100%;
  max-width: 303px;
  height: 25px;
  border-radius: 6px;
  background-color: #ecfdf5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 17px;
  color: #109d58;
  font-weight: 700;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.55px;
  text-align: left;
  text-transform: uppercase;
}
.Ims-Resetsuccess-securitystatus span {
  font-weight: 700;
  font-style: Bold;
  font-size: 11px;
  line-height: 16.5px;
  letter-spacing: 0.55px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #109d58;
}

.Ims-Resetsuccess-securitylock {
  width: 10px;
  height: 11px;
}

.Ims-Resetsuccess-title {
  width: 100%;
  color: #132a56;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.75px;
  text-align: left;
  margin: 0 0 13px 0;
}

.Ims-Resetsuccess-description {
  width: 100%;
  color: #333334;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.75px;
  text-align: left;
  margin: 0 0 41px 0;
  display: flex;
  text-align: center;
}

.Ims-Resetsuccess-backloginbutton {
  width: 100%;
  min-width: 600px;
  height: 50px;
  border: none;
  border-radius: 8px;
  background: #132a56;
  box-shadow: 0px 1px 2px 0px #0000000d;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  cursor: pointer;
}

.Ims-Resetsuccess-backloginbutton:hover {
  background: #132a56;
}
