.ims-rp-container {
  display: flex;
  flex-direction: row;
  padding: 55px 40px;
  overflow: hidden;
  background: linear-gradient(270deg, #ffffff 35%, #566b94 93%);
}

.ims-rp-inner-container {
  border: 1px solid none;
  display: flex;
}
.ims-rp-left-header {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.ims-rp-left-content {
  width: 810px;
  height: auto;
}

.ims-rp-logo-container {
  width: 44px;
  height: 44px;
  border-radius: 12px;
  background: #176789;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ims-rp-logo-container img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.ims-rp-main-header h3 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 590;
  font-style: Bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.6px;
  vertical-align: middle;
}

.ims-rp-main-header p {
  width: 197px;
  height: 16px;
  color: #ffffff;
  font-weight: 390;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.3px;
  vertical-align: middle;
}

.ims-rp-middle-content {
  display: grid;
  gap: 35px;
}
.ims-rp-main-content h2 {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 37px;
  line-height: 40px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  margin-top: 25px;
}

.ims-rp-main-content p {
  width: auto;
  height: 44px;
  color: #ffffff;
  font-weight: 400;
  font-style: SemiBold;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 12px;
}

.ims-rp-image-content {
  display: grid;
  justify-content: center;
}
.ims-rp-bottom-card-container {
  margin-left: 60px;
}
.ims-rp-illustration {
  width: auto;
  height: 580px;
  padding-left: 110px;
  mix-blend-mode: darken;
  margin: 50px 300px 20px 50px;
}

.ims-rp-bottom-card {
  border: 1px solid #ffffffcc;
  margin-left: 55px;
  width: 700px;
  height: 74px;
  box-shadow: 0px 1px 2px 0px #0000000d;
  backdrop-filter: blur(12px);
  border-radius: 16px;
  background-color: #ffffffbf;
  display: flex;
  padding-left: 17px;
  gap: 10px;
  align-items: center;
}

.ims-rp-white-shield {
  width: 44px;
  height: 44px;
  min-width: 44px;
  min-height: 44px;
}

.ims-rp-bottom-content strong {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 13px;
  line-height: 17.88px;
  vertical-align: middle;
  color: #132a56;
}

.ims-rp-bottom-content p {
  width: 604px;
  height: auto;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 11.5px;
  line-height: 17.25px;
  vertical-align: middle;
  color: #132a56;
}

.ims-rp-bottom-content p span {
  font-weight: 700;
  font-style: Regular;
  font-size: 11.5px;
  line-height: 17.25px;
  color: #132a56;
}

.ims-rp-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ims-rp-header img {
  width: 56px;
  height: 56px;
}

.ims-rp-header h1 {
  font-weight: 700;
  font-style: Bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.32px;
  vertical-align: middle;
}

.ims-rp-header p {
  font-weight: 400;
  font-style: Regular;
  line-height: 24px;
  vertical-align: middle;
  color: #333334;
}

.ims-rp-input {
  width: 600px;
  height: 55px;
  font-size: 16px;
  border-radius: 8px;
  border-width: 1px;
  padding-top: 15px;
  padding-right: 48px;
  padding-bottom: 16px;
  padding-left: 40px;
  background-color: #ffffff;
  border: 1.6px solid #132a5647;
  margin-top: 8px;
}
.ims-rp-input::placeholder {
  width: 510px;
  height: 22px;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  color: #777587;
}
.ims-rp-input-container label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  color: #111112;
  margin-bottom: 8px;
}

.ims-rp-form-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ims-rp-input-wrapper {
  position: relative;
  width: 600px;
}

.ims-rp-password-icon {
  width: 16px;
  height: 21px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin-right: 13px;
}

.ims-rp-shield-icon {
  width: 16px;
  height: 20px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.ims-rp-checker-icon {
  width: 12px;
  height: 12px;
}

.ims-rp-password-rules {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 75px;
  opacity: 1;
  gap: 8px;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px;
  background-color: #e7f0fe;
  border: 1px solid #132a564d;
}

.ims-rp-rule span {
  width: 119px;
  height: 16px;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 16px;
  vertical-align: middle;
  color: #111112;
}

.ims-rp-rule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

.ims-rp-right-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ims-rp-update-button {
  width: 600px;
  height: 50px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #132a56;
  box-shadow: 0px 4px 4px 0px #4d44e30d;
  font-weight: 450;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.9px;
  text-align: center;
  vertical-align: middle;
}

.ims-rp-right-container a {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  vertical-align: middle;
  color: #132a56;
  text-decoration: none;
  margin-top: 1px;
}
